body {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(315deg, transparent 75%, #585E5E 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #585E5E 0)-10px 0,
    linear-gradient(135deg, #444040 75%, transparent 0) 0 0,
    linear-gradient(45deg, #696565 75%, #494544 0) 0 0 #561a16;
    background-size: 15px 15px;
} 

.header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

#main-container {
  flex: 1 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.gameboard {
  display: grid;
  width: 30vw;
  height: 30vw;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}
.cell {
  border: solid 4px black;
  background-color: white;
}
/* Sticky Footer and credit */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    gap: 8px;
    font-weight: bold;
    color: white;
}

#github-logo {
    padding-left: 8px;
    padding-right: 8px;
}

/* ########################################## Responsive layout ########################################################*/
/* @media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 500px) {

    #github-logo>img {
        height: 20px;
        width: 20px;
    }
}

 @media only screen and (max-width: 325px) {

    .footer>p {
        font-size: 14px;
        margin: 8px;
    }
 } */

html {
  visibility: visible;
  opacity: 1;
}